<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>evo-internal.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>swift-evolution.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9114322C1EB9870C00CCC0D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>915265211E67659900C2AFDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>915265351E67659A00C2AFDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>915265401E67659A00C2AFDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
